.header {
    color: var(--primary-color);
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 63px;
}

.header__links {
    margin-left: auto;
}

.header__links :first-child {
    margin-right: 57px;
}
