.header {
	color: var(--primary-color);
	font-size: 24px;
	display: flex;
	align-items: center;
	margin-top: 40px;
}

.header__links {
	margin-left: auto;
}

.header__links :first-child {
	margin-right: 57px;
}

/**
* Mobile
*/
@media screen and (max-width: 767px) {
	.header {
		font-size: 12px;
	}

	.header__logo {
		max-height: 40px;
	}

	.header__links :first-child {
		margin-right: 10px;
	}

	.header__links {
		text-transform: uppercase;
	}
}
