.error404 {
	color: var(--primary-color);
}
.error404__bigNum {
	margin-top: 175px;
	margin-bottom: 66px;
	font-size: 288px;
	font-weight: bold;
}

.error404__text {
	font-size: 36px;
	margin-bottom: 182px;
}
.error404__link {
	font-size: 18px;
	text-decoration: underline;
}
