.gallery {
	overflow: hidden;
	border-radius: 25px;
	width: 100%;
	height: 415px;
	position: relative;
	margin-top: 60px;
}

.gallery__bigPic {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.gallery__Arr {
	border: none;
	position: absolute;
	top: 0;
	width: 120px;
	height: 100%;
	transition: transform 0.3s ease-out;
}

.gallery__Arr:hover {
	cursor: pointer;
	transform: scale(1.3);
}

.gallery__Arr__Left {
	left: 0;
	background: url('../../assets/img/arr_left.svg') center no-repeat;
}

.gallery__Arr__Right {
	right: 0;
	background: url('../../assets/img/arr_right.svg') center no-repeat;
}

.gallery__count {
	display: block;
	text-align: center;
	width: 50px;
	font-size: 18px;
	color: white;
	position: absolute;
	bottom: 20px;
	left: calc(50% - 25px);
}

/**
* Mobile
*/
@media screen and (max-width: 767px) {
	.gallery {
		margin-top: 30px;
		height: 255px;
		border-radius: 10px;
	}
	.gallery__Arr {
		width: 50px;
		background-size: 15px;
	}
	.gallery__Arr__Left {
		background-position: center left 5px;
	}
	.gallery__Arr__Right {
		background-position: center right 5px;
	}

	.gallery__count {
		display: none;
	}
}
