.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 48px;
	height: 223px;
	border-radius: 25px;
	color: white;
	position: relative;
	margin-top: 60px;
}

.hero__darken-filter {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 25px;
	background: #000000;
	mix-blend-mode: darken;
	opacity: 0.3;
}

.hero__text {
	z-index: 999;
}

.hero__img {
	position: absolute;
	z-index: -5;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 25px;
	height: 100%;
	object-fit: cover;
}

/**
* Mobile
*/
@media screen and (max-width: 767px) {
	.hero {
		height: 111px;
		font-size: 20px;
		margin-top: 20px;
	}

	.hero__text {
		padding: 15px;
	}

	.hero,
	.hero__darken-filter,
	.hero__img {
		border-radius: 10px;
	}

	.hero_sc {
		height: 223px;
	}
}
