.rating {
	margin-left: auto;
}

.rating ul {
	display: flex;
	align-items: center;
}

/**
* Tablets
*/
@media screen and (max-width: 1239px) {
}

/**
* Mobile
*/
@media screen and (max-width: 767px) {
	.rating ul li {
		width: 15px;
	}
}
